
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/proximanova/ProximaNovaRegular.otf') format('opentype'),
		url('/fonts/proximanova/ProximaNovaRegular.woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/proximanova/ProximaNovaSemibold.otf') format('opentype'),
		url('/fonts/proximanova/ProximaNovaSemibold.woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/proximanova/ProximaNovaBold.otf') format('opentype'),
		url('/fonts/proximanova/ProximaNovaBold.woff');
}