

main {

	// Tab Buttons
	//----------
	nav {
		position: relative;
		display: flex;
		border-bottom: 1px solid $grey;
		color: $grey;

		button {
			border: none;
			background-color: transparent;

			flex: 1 0 50%;
			padding: 3px 10px;
			vertical-align: top;
			font-size: 0.6rem;
			font-weight: 700;
			letter-spacing: 0.7px;
			color: $grey;
			opacity: 0.5;

			&:hover {
				background-color: transparent;
				color: $white;
			}

			@media (min-width: $mobile) {
				// font-size: 0.8rem;
			}
		}
		.underline-highlight {
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 50%;
			height: 1px;
			background-color: $white;
			@include transition(); // TODO: bezier curve
		}
	}

	// Sign-in/Sign-up Forms
	//----------
	.tab-container {
		position: relative;
		display: flex;
		width: 200%;
		@include transition();

		form {
			display: inline-block;
			flex: 0 0 50%;
			width: 50%;
			padding-top: 32px;
			text-align: center;
			opacity: 0; // animated in
			pointer-events: none;
			@include transition();
		}
	}

	form {
		.social-button-container {
			padding: 26px 0 32px;
			display: flex;

			button {
				flex: 1;

				&:first-child {
					margin-right: 20px;
				}
			}
		}

		.input-container {
			padding-top: 20px;
			margin-bottom: 60px;
		}

		.fine-print {
			margin-top: 8px;
			text-align: left;
		}

		&#form-sign-in {
			.input-container {
				label {
					&:first-child {
						margin-bottom: 32px;
					}
				}
				.keep-signed-in {
					padding: 20px 0;
					text-align: left;

					.toggle-switch {
						margin: 0;
					}
				}
			}
		}
		&#form-sign-up {
			.input-container {
				label {
					margin-bottom: 32px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}

		@media (min-width: $mobile) {
			.social-button-container {
				// padding: 50px 0;
			}
		}
	}


	// Long form
	//----------
	#form-details {
		display: none;

		.title-container {
			text-align: center;
			margin-bottom: 20px;

			h2 {
				margin-bottom: 12px;
			}
		}
		.input-container {
			label {
				margin-bottom: 32px;
			}
			.multi-input-line {
				label {
					margin-bottom: 0;
				}
			}
		}
	}

	&.long-form {
		nav,
		.tab-container {
			display: none;
		}
		#form-details {
			display: block;
		}
	}
}
