
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $sans-family;
	color: $text-color;
}
.content-wrapper {
	max-width: 450px;
	padding: 0 24px;
	margin: 0 auto;
	overflow-y: hidden;
	opacity: 0;
	transition: opacity 0.1s;

	&.show {
		opacity: 1;
	}

	@media (min-width: $mobile) {
		padding: 0 32px;
		overflow-y: visible;
	}
}



// Background
//----------
body {
	min-height: 100vh;
	max-width: 100vw;
	padding-bottom: 60px;
	background-color: $blue-dark;
	background-image: url('/img/leadville_blue.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow-x: hidden;

	// @media (min-width: $mobile) {
	// 	background-size: cover;
	// }
}



// Loading
//----------
body {
	.loader {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		background-color: rgba(255,255,255,0.9);
		transition: opacity 0.3s;

		.loading-graphic {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 120px;
			height: 120px;
			@include transform( translate(-50%, -50%) );
		}
	}

	&.loading {
		overflow: hidden;

		.loader {
			opacity: 1;
			pointer-events: auto;
		}
	}
}



// Text
//---------
h1,
h2,
h3,
h4 {
	line-height: 1.3em;
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 2rem;
	color: $black;
}
h2 {
	font-weight: 700;
	font-size: 1.2rem;
}

h4 {
	font-size: 0.6rem;
	font-weight: 400;

	&.line-title {
		color: $grey;
		position: relative;
		display: inline-block;

		&:before,
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			height: 1px;
			width: 80px;
			@include transform( translateY(-50%) );
		}
		&:before {
			right: calc(100% + 15px);
			background: linear-gradient(to left, $grey-rgb1, $grey-rgb0);
		}
		&:after {
			left: calc(100% + 15px);
			background: linear-gradient(to right, $grey-rgb1, $grey-rgb0);
		}
	}

	@media (min-width: $mobile) {
		font-size: 0.7rem;
	}
}

a {
	color: $blue;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $blue;
	}
	&:hover {
		color: $blue-hover;
	}
}

p {
	margin: 0;
	font-size: 0.7rem;

	&.fine-print {
		font-size: 0.6rem;
	}
}



// Buttons
//----------
button,
.button {
	display: inline-block;
	padding: 11px 30px 9px;
	border: none;
	border-radius: 2px;
	font-family: $sans-family;
	font-size: 0.8rem;
	color: $white;
	cursor: pointer;
	background-color: $blue;
	text-align: center;
	@include transition();

	&.full-width {
		width: 100%;
	}

	&:visited {
		color: $white;
	}
	&:hover {
		background-color: $blue-hover;
	}
	&:disabled {
		cursor: default;
		background-color: $grey;
		opacity: 0.6;
	}
	&:active {
		background-color: $blue;
	}

	&.hollow {
		font-size: 0.8rem;
		color: $white;
		border: 1px solid $white;
		border-radius: 2px;
		background-color: transparent;
		
		svg {
			position: relative;
			top: 2px;
			display: inline-block;
			height: 15px;
			margin-right: 8px;

			path {
				@include transition();
			}
		}
		span {
			vertical-align: top;
		}

		&:hover {
			color: $blue;
			border-color: $blue;

			svg path {
				fill: $blue;
			}
		}
		&:active {
			color: $white;
			border-color: $white;
			background-color: transparent;

			svg path {
				fill: $white;
			}
		}
	}
}