
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $sans-family;
	color: $text-color;
}
.content-wrapper {
	max-width: 450px;
	padding: 0 24px;
	margin: 0 auto;
	overflow-y: hidden;

	@media (min-width: $mobile) {
		padding: 0 32px;
		overflow-y: visible;
	}
}


// Text
//---------
h1,
h2,
h3,
h4 {
	line-height: 1.3em;
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 2rem;
	color: $black;
}
h2 {
	font-size: 2.3rem;
}

h4 {
	font-size: 0.6rem;
	font-weight: 400;

	&.line-title {
		color: $grey;
		position: relative;
		display: inline-block;

		&:before,
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			height: 1px;
			width: 80px;
			@include transform( translateY(-50%) );
		}
		&:before {
			right: calc(100% + 15px);
			background: linear-gradient(to left, $grey-rgb1, $grey-rgb0);
		}
		&:after {
			left: calc(100% + 15px);
			background: linear-gradient(to right, $grey-rgb1, $grey-rgb0);
		}
	}

	@media (min-width: $mobile) {
		font-size: 0.7rem;
	}
}

a {
	color: $blue;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $blue;
	}
	&:hover {
		color: $blue-hover;
	}
}

p {
	margin: 0;

	&.fine-print {
		font-size: 0.6rem;
	}
}


// Utilities
//---------
// .no-wrap {
// 	overflow: hidden;
// 	white-space: nowrap;
// 	text-overflow: ellipsis;
// }


// Forms
//---------
label {
	position: relative;
	display: block;

	.label-copy {
		position: absolute;
		left: 0;
		bottom: 3px;
		display: inline-block;
		font-size: 0.8rem;
		color: $white;
		pointer-events: none;
		@include transition();
	}
	.message-mask {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding-top: 5px;
		text-align: left;
		overflow: hidden;
		pointer-events: none;

		.message {
			display: block;
			font-size: 0.6rem;
			line-height: 1em;
			color: $red;
			@include transform( translateY(-25px) ); // animate in
			@include transition(0.2s);

			&.show {
				color: $white;
				@include transform( translateY(0) ); // animate in
			}
		}
	}
	.success-check {
		position: absolute;
		right: 4px;
		bottom: 7px;
		width: 17px;
		height: 14px;

		path {
			stroke-dasharray: 22px;
			stroke-dashoffset: 22px;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		display: block;
		width: 100%;
		padding: 12px 0 3px;
		background-color: transparent;
		font-family: $sans-family;
		font-size: 0.8rem;
		line-height: 1em;
		color: $text-color;
		border: 0;
		border-bottom: 1px solid $white;
		@include transition();

		&:focus {
			border-color: $blue;

			+ .label-copy {
				@include transform( translateY(-22px) scale(0.7) );
				transform-origin: 0% 50%;
			}
		}

	}

	&.has-content {
		.label-copy {
			@include transform( translateY(-22px) scale(0.7) );
			transform-origin: 0% 50%;
		}
	}

	// input validation
	&.valid {
		.label-copy {
			color: $green;
		}
		.message-mask {
			.message {
				@include transform( translateY(-25px) );
			}
		}
		.success-check {
			path {
				animation: drawDash 0.4s forwards $curve1; 
			}
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			border-color: $green;
		}
	}
	&.error {
		.label-copy {
			color: $red;
		}
		.message-mask {
			.message {
				color: $red;
				@include transform( translateY(0) );
			}
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			border-color: $red;
		}
	}
}

label.toggle-switch {
	cursor: pointer;

	input[type="checkbox"] {
		visibility: hidden;
		position: absolute;
		left: 9000px;
		top: 9000px;

		&:checked {
			+ .switch-track {
				.switch-button {
					@include transform( translateX(13px) );
				}
			}
			~ .label-copy {
				opacity: 1;
			}
		}
	}
	.switch-track {
		display: inline-block;
		position: relative;
		width: 36px;
		border: 2px solid $blue;
		background-color: $blue;
		border-radius: 15px;
		text-align: left;

		.switch-button {
			display: block;
			width: 19px;
			height: 19px;
			border-radius: 50%;
			background-color: $white;
			@include transition();
		}
	}
	.label-copy {
		position: static;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		padding-top: 4px;
		font-size: 0.6rem;
		opacity: 0.7;
		color: $white;
	}
}


// Buttons
//----------
button,
.button {
	display: inline-block;
	padding: 11px 30px 9px;
	border: none;
	border-radius: 2px;
	font-family: $sans-family;
	font-size: 0.8rem;
	color: $white;
	cursor: pointer;
	background-color: $blue;
	@include transition();

	&.full-width {
		width: 100%;
	}

	&:hover {
		background-color: $blue-hover;
	}
	&:disabled {
		cursor: default;
		background-color: $grey;
		opacity: 0.6;
	}
	&:active {
		background-color: $blue;
	}

	&.hollow {
		font-size: 0.8rem;
		color: $white;
		border: 1px solid $white;
		border-radius: 2px;
		background-color: transparent;
		
		svg {
			position: relative;
			top: 2px;
			display: inline-block;
			height: 15px;
			margin-right: 8px;

			path {
				@include transition();
			}
		}
		span {
			vertical-align: top;
		}

		&:hover {
			color: $blue;
			border-color: $blue;
			// background-color: rgba(255,255,255, 0.1);

			svg path {
				fill: $blue;
			}
		}
		&:active {
			color: $white;
			border-color: $white;
			background-color: transparent;

			svg path {
				fill: $white;
			}
		}
	}
}


// Icons
//----------
.icon-base {
	fill: $blue;
	@include transition();

	&:hover {
		// fill: $blue-hover;
	}
}