
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $sans-family;
	color: $text-color;
}
.content-wrapper {
	max-width: 450px;
	padding: 0 32px;
	margin: 0 auto;
}


// Text
//---------
h1,
h2,
h3,
h4 {
	line-height: 1.3em;
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 2rem;
	color: $black;
}
h2 {
	font-size: 2.3rem;
}

h4 {
	font-size: 0.6rem;
	font-weight: 400;

	&.line-title {
		color: $grey;
		position: relative;
		display: inline-block;

		&:before,
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			height: 1px;
			width: 80px;
			@include transform( translateY(-50%) );
		}
		&:before {
			right: calc(100% + 15px);
			background: linear-gradient(to left, $grey-rgb1, $grey-rgb0);
		}
		&:after {
			left: calc(100% + 15px);
			background: linear-gradient(to right, $grey-rgb1, $grey-rgb0);
		}
	}

	@media (min-width: $mobile) {
		font-size: 0.8rem;
	}
}

a {
	color: $text-color;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $text-color;
	}
}


// Utilities
//---------
// .no-wrap {
// 	overflow: hidden;
// 	white-space: nowrap;
// 	text-overflow: ellipsis;
// }


// Forms
//---------
label {
	display: block;

	.label-copy {
		display: inline-block;
		margin: 0 0 4px;
		font-size: 0.8rem;
		// color: $grey-light;
	}
}
input[type="text"],
input[type="password"] {
	display: inline-block;
	padding: 10px 15px 9px;
	// border: 1px solid $grey-light;
	border-radius: 3px;
	background-color: $white;
	font-size: 1rem;
	line-height: 1em;
	color: $text-color;
	font-family: $sans-family;
	@include transition();

	&:focus {
		border-color: $blue;
	}

	&.valid {
		// border-color: $green;
	}
	&.invalid {
		// border-color: $red;
	}
}


// Buttons
//----------
button,
.button {
	display: inline-block;
	padding: 11px 30px 9px;
	border: none;
	border-radius: 3px;
	font-family: $sans-family;
	font-size: 1rem;
	color: $white;
	cursor: pointer;
	background-color: $blue;
	@include transition();

	&:hover {
		// background-color: $blue-hover;
	}
	&:disabled {
		cursor: default;
		// background-color: $grey-light;
	}
}


// Icons
//----------
.icon-base {
	fill: $blue;
	@include transition();

	&:hover {
		// fill: $blue-hover;
	}
}