
body {
	min-height: 100vh;
	padding: 26px 0 60px;
	background-color: $blue-dark;
	background-image: url('/img/leadville_blue.png');
	background-position: center;

	@media (min-width: $mobile) {
		padding-top: 80px;
	}
}

header {
	text-align: center;
	margin-bottom: 40px;

	.logo {
		display: inline-block;
		height: 30px;
		width: auto;
	}
	.value-prop {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
	}

	@media (min-width: $mobile) {
		// margin-bottom: 60px;

		.logo {
			height: 50px;
		}
	}
}

main {
	nav {
		position: relative;
		display: flex;
		border-bottom: 1px solid $grey;
		color: $grey;

		button {
			border: none;
			background-color: transparent;

			flex: 1 0 50%;
			padding: 3px 10px;
			text-align: center;
			font-size: 0.6rem;
			font-weight: 700;
			letter-spacing: 0.5px;
			color: $grey;

			&:hover {
				background-color: transparent;
				color: $white;
			}

			&.selected {
				color: $white;
			}

			@media (min-width: $mobile) {
				// font-size: 0.8rem;
			}
		}
		.underline-highlight {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 1px;
			background-color: $white;
		}
	}

	.tab-container {
		form {
			padding-top: 32px;
			text-align: center;

			.line-title {
				// margin-bottom: 26px;
			}
			.social-button-container {
				padding: 26px 0;
				display: flex;

				button {
					flex: 1;

					&:first-child {
						margin-right: 20px;
					}
				}
			}

			@media (min-width: $mobile) {
				.social-button-container {
					// padding: 50px 0;
				}
			}
		}
	}

	.input-container {
		// padding-top: 10px;
		margin-bottom: 60px;

		label {
			margin-top: 32px;
		}

		.keep-signed-in {
			padding: 20px 0;
			text-align: left;
			font-size: 0.6rem;
		}
	}
}


.landing-button-container {
	display: none;
}